@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color001: #ffffff;
    --color002: #ebf1e6;
    --color003: #d8e2ce;
    --color004: #c4d4b5;
    --color005: #b0c59c;
    --color006: #9eb18c;

    --font001: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color006);
    background: var(--color002) url(../assets/waves.svg) no-repeat center bottom;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
}

/*Header*/

header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--color002);
}

.header-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.header-logo {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color006);
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-list li a {
    text-decoration: none;
    color: var(--color006);
    font-size: 1rem;
    font-weight: 400;
}

.nav-list li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--color006);
    transition: all .3s ease-in-out;
}

.nav-list li a:hover::after {
    width: 100%;
}

/*Main*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 83px);
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hero-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color006);
}

.hero-content a {
    width: 180px;
    text-align: center;
    text-decoration: none;
    color: var(--color001);
    background-color: var(--color006);
    padding: .5rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.hero-content a:hover {
    background-color: var(--color002);
    color: var(--color006);
    box-shadow: inset 0px 0px 0px 2px var(--color006);
}

/*Prompt Page*/

.body-prompt-page {
    background-image: url(../assets/waves2.svg);
}

.prompt-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.prompt-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.prompt-header h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color006);
}

.prompt-content {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;;
}

.prompt-content input {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: var(--color001);
    border-radius: 50px;
    transition: all .3s ease-in-out;
    font: 400 var(--font001) 1rem;
}

.prompt-content input:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 2px var(--color006);
}

.prompt-content button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    margin: .7rem;
    border: none;
    background-color: var(--color006);
    color: var(--color001);
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.prompt-content button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.prompt-content button img {
    width: 20px;
    filter: invert(1);
}

/*About Page*/

.body-about-page {
    background-image: url(../assets/waves4.svg);
}

.about-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
}

.about-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: auto;
    height: auto;
    background-color: var(--color003);
    border-radius: 50px;
    padding: 1.5rem;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: 120px;
    border-radius: 50%;
    border: 3px solid var(--color006);
}

.card-titles h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

.card-titles p {
    font-size: 1rem;
    font-weight: 400;
}

.card-icons img {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(58%) saturate(357%) hue-rotate(277deg) brightness(116%) contrast(100%);;
}

.card-icons a {
    display: flex;
    background-color: var(--color006);
    padding: .8rem;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.card-icons a:hover {
    transform: scale(1.1);
}

.card-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about-header h1 {
    font-size: 3rem;
    font-weight: 700;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
}

.about-content a {
    width: 180px;
    text-align: center;
    text-decoration: none;
    color: var(--color001);
    background-color: var(--color006);
    padding: .5rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.about-content a:hover {
    background-color: var(--color002);
    color: var(--color006);
    box-shadow: inset 0px 0px 0px 2px var(--color006);
}

/*Contact Page*/

.contact-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
}

.contact form {
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact h3 {
    font-weight: 600;
    font-size: 2rem;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input-group input, textarea {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
    background-color: var(--color001);
    font-family: var(--font001);
    padding: 10px;
    transition: all .3s ease-in-out;
}

.input-group input:focus, textarea:focus {
    outline: none;
    box-shadow: inset 0px 0px 0px 2px var(--color006);
}

.input-group input::placeholder, textarea::placeholder {
    color: var(--color006);
    font-family: var(--font001);
    font-weight: 400;
}

.input-group textarea {
    resize: none;
    height: 80px;
}

.send-btn {
    width: 120px;
    background-color: var(--color006);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-family: var(--font001);
    font-weight: 400;
    font-size: 1rem;
    transition: all .3s ease-in-out;
}

.send-btn:hover {
    cursor: pointer;
    color: var(--color006);
    box-shadow: inset 0px 0px 0px 2px var(--color006);
    background-color: var(--color002);
}

.submit-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    filter: brightness(0) saturate(100%) invert(78%) sepia(14%) saturate(516%) hue-rotate(48deg) brightness(87%) contrast(87%);
    transition: all .3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/*Gallery Page*/

.gallery-section {
    height: calc(100vh - 83px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-header {
    box-sizing: border-box;
}

.gallery-header h1 {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
}

.gallery-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.gallery-item {
    width: 50%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    border-radius: .5rem;
    background-color: var(--color001);
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.gallery-item p {
    font-size: .8rem;
    font-weight: 400;
    font-style: italic;
}

.gallery-item button{
    width: 180px;
    border: none;
    font-family: var(--font001);
    text-align: center;
    text-decoration: none;
    color: var(--color001);
    background-color: var(--color006);
    padding: .5rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.gallery-item button:hover {
    cursor: pointer;
    background-color: var(--color001);
    color: var(--color006);
    box-shadow: inset 0px 0px 0px 2px var(--color006);
}

/* Media Queries */

@media (max-width: 1400px) {
    .hero-content {
        width: 70%;
    }

    .about-section {
        width: 70%;
    }
}
